@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.purple {
  color: #6415ff;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}

.nav__row {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.nav__logo {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding-bottom: 4px ;
}

.nav__logo--img {
  width: 40px;
  height: 40px;
}

.nav__logo--title {
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.6px;
  margin-left: 12px;
}

ul {
  display: flex;
}

li {
  list-style: none;
}

.nav__link {
  font-size: 14px;
  font-weight: 600px;
  color: #243e63;
  margin-left: 16px;
  text-decoration: none;
}

.nav__link--primary {
  margin: 2px 16px;
  padding: 10px 26px;
  color: white;
  background: #6415ff;
  border-radius: 16px;
  text-align: center;
  text-decoration: none;
}

/* 

HEADER

*/

header {
  height: calc(100vh - 60px);
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative; */
}

.container {
  padding: 96px 0;
  /* width: 100%; */
  /* height: 100vh; */

  border: 2px solid red;
}

.header__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
}

h1 {
  font-size: 38px;
  color: #1a202c;
  /* line-height: 1.25; */
  font-weight: 700;
}

.header__description--para {
  /* font-size: 16px; */
  margin: 32px 0;
  /* line-height: 1.5; */
}

.header__email {
  position: relative;
}


.header__email--input {
  width: 100%;
  border-radius: 500px;
  border: 2px solid rgb(229, 231, 235);
  padding: 20px 192px 20px 32px;
  color: rgb(36, 62, 99);
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  transition: border-color 300ms;
}

.header__email--input {
  /* margin: 12px ; */
}

.header__description--email {
  width: 100%;
  max-width: 448px;
  padding: 12px;
  /* height: 68px; */
  /* display: flex; */
  /* justify-content: flex-end; */
  /* align-items: center; */
}


.header__email--btn {
  z-index: 2;
  margin: 8px;
  height: calc(100% - 16px);
  border-radius: 500px;
  width: 160px;
  border: none;
  background-color: #6415ff;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  transition: all 300ms;
}

/*
.header__email--btn {
  z-index: 2;
  margin: 8px;
  padding: 0 12px;
  height: calc(100% - 16px);
  border-radius: 32px;
  width: 160px;
  border: none;
  background-color: #6415ff;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  transition: all 300ms;
}
*/

.head__customers--title {
  /* margin-top: 80px; */
  color: #a0aec0;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.6px;
}

.header__customer {
  /* margin-top: 16px; */
  /* opacity: 0.5; */
  /* width: 100%; */
}


.header__img--wrapper {
  width: 60%;
  /* height: 40%; */
  border: 2px solid black;
}

.header__img {
  width: 100%;
  height: 60%;
}